<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809678254370-0d041lfh98rmuirk2igtl4gv0bq8g0ke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809678254370-0d041lfh98rmuirk2igtl4gv0bq8g0ke</string>
	<key>API_KEY</key>
	<string>AIzaSyC3lbaQh_qKZrY3P5jUk-DuXEbON9w2ayo</string>
	<key>GCM_SENDER_ID</key>
	<string>809678254370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bt</string>
	<key>PROJECT_ID</key>
	<string>btfyp-b453d</string>
	<key>STORAGE_BUCKET</key>
	<string>btfyp-b453d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809678254370:ios:a9fcb7c914778746b2357b</string>
</dict>
</plist>